page-splash {

    .background_splash{
        background: #3a531c; 
        background-image: url(../assets/imgs/bg.png);
        background-size: cover;

    .logo {
        width: 145px;
        margin: 0 auto;
        background: #fff;
        height: 145px;
        overflow: hidden;
        border-radius: 100%;
    img {
        width: 100px;
        margin: 17px auto;
        display: block;
    }
    
    }

}

}
