page-contact {

      
.content1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    
.list {
    margin-top: 30px;
    margin-bottom: 40px;

.button {
    padding: 0 30px;
    height: 4.4rem;
    text-transform: capitalize;
    font-size: 18px;
    border-radius: 4px;
    background: #87be46;
    font-weight: bold;
    margin: 0 auto;
    display: block;
    font-family: 'nunitobold';
}

}
.input_main .item .item-inner {
    border: none !important;
    padding-left: 8px;
}
h1 {
    text-align: center;
    color: #eb8029;
    font-family: 'nunito-bold';
    font-size: 22px;
}
p {
    color: #363636;
    text-align: center;
    margin: 10px 9% 15px 9%;
    font-size: 17px;
    display: block;
}

}


}
