page-delivery-address {
    
    .bar-buttons{
        height: 36px !important;
    }

    .main_box h2 {
        background: #fff;
        padding: 15px;
        text-transform: capitalize;
        text-align: left;
        font-size: 20px;
        font-family: 'nunito-bold';
        border-bottom: 2px solid rgba(0, 0, 0, 0.06);
        border-top: 2px solid rgba(0, 0, 0, 0.06);
        margin-bottom: 35px;
    }

    .box {
        position: relative;
        padding-left: 80px !important;
        background: #fff;
        padding: 15px;
        margin-bottom: 20px;

        button {
            height: 15px !important;
            padding: 0 !important;
            margin: 0 !important;
            text-transform: capitalize !important;
            color: #f79320 !important;
        }

    .radio-icon{
        width:18px;
        height: 18px;
    }
    
    ion-radio.radio-md {
        position: absolute;
        left: 35px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 20px;
        height: 20px;
    }
    ion-radio.radio-ios {
        position: absolute;
        left: 35px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 22px;
        height: 22px;
    }
    
    label {
        font-size: 18px;
        font-family: 'nunito-bold';
        color: #252525;
    }
    
    p {
        font-size: 13px;
        color: #929292;
        margin-top: 5px;
    }
    
    ion-radio.radio-ios{
        .radio-icon {
        border: 2px solid #87be46;
        width: 22px;
        height: 22px;
        border-radius: 50px;
        .radio-inner {
        background-color: transparent;
        border-color: #87be46;
        top: 2px;
        left: 6px;
    }
    }
    }
    ion-radio.radio-md{
        .radio-icon {
        border-color: #87be46;
        width: 20px;
        height: 20px;
        .radio-inner {
        background-color: #87be46;
        top: 4px;
        left: 4px;
    }
    }
    }
    
    
    }

}
