<ion-header>

    <ion-navbar>
        <ion-buttons>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        </ion-buttons>
  
      <ion-title>{{'Products' | translate}}</ion-title>
  
      <ion-buttons end class="cart" (click)="cart()">
          <button ion-button icon-only>
              <ion-icon name="cart"></ion-icon>
              <p>{{cartitems}}</p>
          </button>
        </ion-buttons>
  
      <ion-buttons end class="search">
          <button ion-button icon-only (click)="show = !show">
            <ion-icon name="search"></ion-icon>
          </button>
        </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
      <ion-searchbar *ngIf="show" [@enterAnimation] 
      [(ngModel)]="query"
      [showCancelButton]="shouldShowCancel"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
      <ion-list class="product">
          <ion-item *ngFor="let product of products | searchText:query">
            <ion-thumbnail item-start (click)="productdetail(product.product_id)">
              <img [src]="product.thumb">
            </ion-thumbnail>
            <h2 (click)="productdetail(product.product_id)">{{product.name}}</h2>
            <span class="quantity">{{'Quantity' | translate}} : <span>{{product.minimum}}</span></span>
            <span class="price">{{product.price}}</span>
            <button ion-button (click)="addCart(product)">{{'add to cart' | translate}}</button>
  
            <!-- <ion-grid item-end>
                <ion-row>
                  <ion-col col-12>
                      <button ion-button><ion-icon name="add"></ion-icon></button>
                  </ion-col>
                  <ion-col col-12>
                      <ion-item>
                          <ion-input type="text" value=""></ion-input>
                        </ion-item>
                  </ion-col>
                  <ion-col col-12>
                      <button ion-button><ion-icon name="remove"></ion-icon></button>
                  </ion-col>
                </ion-row>
              </ion-grid> -->
            
          </ion-item>
        </ion-list>
          <!-- <button ion-button class="add" (click)="add()"><ion-icon name="add"></ion-icon></button> -->
          <ion-infinite-scroll *ngIf="products?.length>9" (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
  </ion-content>
  