<ion-header class="blank_bg">

  <ion-navbar hidden>
    <ion-title hidden>login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="blank_gap0">


  <div style="height:3vh;width:100%;float:left;"></div>

  <div class="content1">
    <h3>{{'Sign Up' | translate}}</h3>
    <form [formGroup]="SignupForm" (submit)="submit(SignupForm)">
    <!-- <form #heroForm="ngForm" novalidate> -->
      <ion-list class="input_main">

        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="{{'First Name*' | translate}}" formControlName="fname"></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <div *ngIf="!isValid('fname')" class="error">{{'First Name is Mandatory!' | translate}}</div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="{{'Last Name*' | translate}}" formControlName="lastname"></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <div *ngIf="!isValid('lastname')" class="error">{{'Last Name is Mandatory!' | translate}}</div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="email" placeholder="{{'Email Address*' | translate}}" formControlName="email"></ion-input>
          </ion-item>
          <ion-icon name="at"></ion-icon>
          <div *ngIf="!isValid('email')" class="error">{{'Invalid email' | translate}}</div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="tel" placeholder="{{'Phone Number*' | translate}}" formControlName="phnnumber" maxlength="12"></ion-input>
          </ion-item>
          <ion-icon name="call"></ion-icon>
          <div *ngIf="!isValid('phnnumber')" class="error">{{'Phone Number is Mandatory!' | translate}}</div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="password" placeholder="{{'Password*' | translate}}" formControlName="password"></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <div *ngIf="!isValid('password')" class="error">{{'Password is Mandatory!' | translate}}</div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="password" placeholder="{{'Confirm password*' | translate}}" formControlName="cpassword"></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <!-- <div *ngIf="!isValid('cpassword')" class="error">Confirm Password is Mandatory!</div> -->
          <div  class="error" *ngIf="SignupForm.controls.cpassword.touched">
            <div *ngIf="SignupForm.hasError('mismatchedPasswords')">{{'Passwords do not match.' | translate}}</div>
          </div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="{{'Address 1*' | translate}}" formControlName="address"></ion-input>
          </ion-item>
          <ion-icon name="pin"></ion-icon>
          <div *ngIf="!isValid('address')" class="error">{{'Address is Mandatory!' | translate}}</div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="{{'Address 2*' | translate}}" formControlName="addresss"></ion-input>
          </ion-item>
          <ion-icon name="pin"></ion-icon>
          <div *ngIf="!isValid('addresss')" class="error">{{'Address is Mandatory!' | translate}}</div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="tel" placeholder="{{'Post Code*' | translate}}" formControlName="PostCode"></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <div *ngIf="!isValid('PostCode')" class="error">{{'Postal Code is Mandatory!' | translate}}</div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="{{'City*' | translate}}" formControlName="City"></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <div *ngIf="!isValid('City')" class="error">{{'City is Mandatory!' | translate}}</div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="{{'Country*' | translate}}" formControlName="ccode"></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <div *ngIf="!isValid('ccode')" class="error">{{'Country is Mandatory!' | translate}}</div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="{{'Region / State*' | translate}}" formControlName="Region"></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <div *ngIf="!isValid('Region')" class="error">{{'Region is Mandatory!' | translate}}</div>
        </div>
        
        <!-- <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="Last Name*" [(ngModel)]="data.lastname" name="lastname" #lastname="lastname" #lastname="ngModel"
              required></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <div *ngIf="lastname.errors && (lastname.dirty || lastname.touched)" class="error">
            <div [hidden]="!lastname.errors.required">
             Last name is Mandatory!
             </div>
          </div>
        </div>

        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="Email Address" [(ngModel)]="data.email" name="email" #email="email" #email="ngModel"
              required></ion-input>
          </ion-item>
          <ion-icon name="at"></ion-icon>
          <div *ngIf="email.errors && (email.dirty || email.touched)" class="error">
            <div [hidden]="!email.errors.required">
            Email is Mandatory!
             </div>
          </div>
        </div>

        <div class="icn_box">
          <ion-item>
            <ion-input type="tel" placeholder="Phone Number*" [(ngModel)]="data.phnnumber" name="phnnumber" #phnnumber="ngModel"
             maxlength="12" required></ion-input>
          </ion-item>
          <ion-icon name="call"></ion-icon>
          <div *ngIf="phnnumber.errors && (phnnumber.dirty || phnnumber.touched)" class="error">
            <div [hidden]="!phnnumber.errors.required">
            Phone Number is Mandatory!
             </div>
          </div>
        </div> -->
        <!-- <div class="icn_box">
        <ion-item>
          <ion-input type="number" placeholder="Fax*" [(ngModel)]="data.Fax" name="Fax"></ion-input>
        </ion-item>
        <ion-icon name="call"></ion-icon>
      </div> -->
        <!-- <div class="icn_box">
          <ion-item>
            <ion-input type="password" placeholder="Password" [(ngModel)]="data.password" name="password" #password="email" #password="ngModel"
              required></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <div *ngIf="password.errors && (password.dirty || password.touched)" class="error">
            <div [hidden]="!password.errors.required">
           Password is Mandatory!
             </div>
          </div>
        </div>

        <div class="icn_box">
          <ion-item>
            <ion-input type="password" placeholder="Confirm Password" [(ngModel)]="data.cpassword" name="cpassword" #cpassword="ngModel"
              required></ion-input>
          </ion-item>
          <ion-icon name="person"></ion-icon>
          <div *ngIf="cpassword.errors && (cpassword.dirty || cpassword.touched)" class="error">
            <div [hidden]="!cpassword.errors.required">
            Confirm Pssword is Mandatory!
             </div>
          </div>
        </div> -->
        <!-- <div class="icn_box">
        <ion-item>
          <ion-input type="text" placeholder="Company" [(ngModel)]="data.company" name="company" required></ion-input>
        </ion-item>
        <ion-icon name="pin"></ion-icon>
        <ion-icon name="locate" class="locate"></ion-icon>
      </div> -->

        <!-- <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="Address 1" [(ngModel)]="data.address" name="address" #address="ngModel" required></ion-input>
          </ion-item>
          <ion-icon name="pin"></ion-icon>
          <ion-icon name="locate" class="locate"></ion-icon>
          <div *ngIf="address.errors && (address.dirty || address.touched)" class="error">
            <div [hidden]="!address.errors.required">
            Address is Mandatory!
             </div>
          </div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="Address 2" [(ngModel)]="data.addresss" name="addresss" #addresss="ngModel" required></ion-input>
          </ion-item>
          <ion-icon name="pin"></ion-icon>
          <div *ngIf="addresss.errors && (addresss.dirty || addresss.touched)" class="error">
            <div [hidden]="!addresss.errors.required">
            Address is Mandatory!
             </div>
          </div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="tel" placeholder="Post Code" [(ngModel)]="data.PostCode" name="PostCode" #PostCode="ngModel" maxlength="8" required></ion-input>
          </ion-item>
          <ion-icon name="call"></ion-icon>
          <div *ngIf="PostCode.errors && (PostCode.dirty || PostCode.touched)" class="error">
            <div [hidden]="!PostCode.errors.required">
              PostCode is Mandatory!
             </div>
          </div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="City" [(ngModel)]="data.City" name="City" #City="ngModel" required></ion-input>
          </ion-item>
          <ion-icon name="call"></ion-icon>
          <div *ngIf="City.errors && (City.dirty || City.touched)" class="error">
            <div [hidden]="!City.errors.required">
              City is Mandatory!
             </div>
          </div>
        </div>
        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="Country" [(ngModel)]="data.ccode" name="ccode" #ccode="ngModel" required></ion-input>
          </ion-item>
          <ion-icon name="call"></ion-icon>
          <div *ngIf="ccode.errors && (ccode.dirty || ccode.touched)" class="error">
            <div [hidden]="!ccode.errors.required">
              Country is Mandatory!
             </div>
          </div>
        </div>

        <div class="icn_box">
          <ion-item>
            <ion-input type="text" placeholder="Region / State" [(ngModel)]="data.Region" name="Region" #Region="ngModel" required></ion-input>
          </ion-item>
          <ion-icon name="call"></ion-icon>
          <div *ngIf="Region.errors && (Region.dirty || Region.touched)" class="error">
            <div [hidden]="!Region.errors.required">
              Region is Mandatory!
             </div>
          </div>
        </div>
 -->
        <div class="box">
          <ion-item>
            <ion-label>{{'I agree the Terms and Conditions' | translate}}</ion-label>
            <ion-checkbox color="dark" formControlName="agree"></ion-checkbox>
          </ion-item>
          <button ion-button large [disabled]="!SignupForm.valid" type="submit">{{'Sign Up' | translate}}</button>

          <span class="sign_up">{{'Already have an account?' | translate}}
            <a (click)="login()">{{'sign in' | translate}}</a>
          </span>
        </div>

      </ion-list>
    </form>
    <div style="height:5vh;float:left;width:100%;"></div>

  </div>

</ion-content>