<ion-header>

    <ion-navbar>

        <ion-title>{{subcategory.name}}</ion-title>

        <ion-buttons end class="cart" (click)="cart()">
            <button ion-button icon-only>
                <ion-icon name="cart"></ion-icon>
                <p>{{cartitems}}</p>
            </button>
        </ion-buttons>

        <ion-buttons end class="search">
            <button ion-button icon-only (click)="show = !show">
                <ion-icon name="search"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content class="listing">
        <ion-refresher (ionRefresh)="doRefresh($event)">
                <ion-refresher-content
                  pullingIcon="arrow-dropdown"
                  pullingText="Pull to refresh"
                  refreshingSpinner="circles"
                  refreshingText="Refreshing...">
                </ion-refresher-content>
              </ion-refresher>
        <ion-searchbar *ngIf="show" [@enterAnimation] 
        [(ngModel)]="query"
        [showCancelButton]="shouldShowCancel"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>
     
    <!-- <div style="height:3vh;float:left;width:100%;"></div> -->
    <ion-list>
        <button ion-item *ngFor="let subcat of subcategory.categories | searchText:query" (click)="product(subcategory.category_id,subcat.category_id)">
            {{subcat.name}}
            <ion-icon name="arrow-forward"></ion-icon>
        </button>

        <!-- <button ion-item>
              Acidity and heartburn
              <ion-icon name="arrow-forward"></ion-icon>
          </button>  

          <button ion-item>
              Allergy
              <ion-icon name="arrow-forward"></ion-icon>
          </button>  

            <button ion-item>
                Anti Fungals 
                <ion-icon name="arrow-forward"></ion-icon>
            </button>  

              <button ion-item>
                  Aspirin 
                  <ion-icon name="arrow-forward"></ion-icon>
              </button>  

              <button ion-item>
                  Colds and Flu 
                  <ion-icon name="arrow-forward"></ion-icon>
              </button>  

                <button ion-item>
                    Cough 
                    <ion-icon name="arrow-forward"></ion-icon>
                </button>  

                  <button ion-item>
                      Cuts and Burns
                      <ion-icon name="arrow-forward"></ion-icon> 
                  </button>  

                    <button ion-item>
                        Ears 
                        <ion-icon name="arrow-forward"></ion-icon>
                    </button>   -->
    </ion-list>




</ion-content>